<p id="komunikat"><%= flash[:komunikat] %></p>
<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @event.id %>
</p>

<p>
  <strong>Wydarzenie:</strong>
  <%= @event.artist %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Cena (dolny próg):</strong>
  <%= @event.price_low %>
</p>

<p>
  <strong>Cena (górny próg):</strong>
  <%= @event.price_high %>
</p>

<p>
  <strong>Data wydarzenia:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Limit biletów:</strong>
  <%= @event.maxSeats %>
</p>

<p>
  <strong>Wyłącznie dla dorosłych:</strong>
  <%= @event.adultsOnly %>
</p>

<p>
  <strong>Ilość biletów możliwa do zakupu przez jedną osobę:</strong>
  <%= @event.singleBuyerLimit %>
</p>

<%= if @event.event_date >= Date.today
   render "new_ticket", ticket: Ticket.new(:event_id=>@event.id)
end %>

<%= render "tickets_list", tickets: @event.tickets %>

<%= link_to 'Back', events_path %>
